/*Jim's Awesome Website Stylesheet*/

/*======== Common Elements ========*/

body {
margin: auto;
padding: 0px;
background: #0E464E;
font-family: verdana, Georgia, serif;
font-size: 16px;
width: 1300px;
}

h2 {
font-size: 1.5em;
}

p {
width: 90%;
margin: 5px;
}

.header {
background-color: #69969C;
height: 150px;
margin: 5px; 
border-radius: 10px;
}

.header h1 {
position: relative;
text-align: center;
bottom: 80px;
font-size: 3em;
font-family: roboto;
color: #50608F; 
}

#boiler {
position: relative;
top: 25px;
left: 25px;
}

#pro {
position: relative;
left: 1165px;
bottom: 199px;
}

.navbar {
background-color: #69969C;
height: 50px;
margin: 5px;
border-radius: 10px;
list-style-type: none;
}

.navbar ul {
position: relative;
top: 13px;
list-style-type: none;
overflow: hidden;
}

.navbar ul li {
display: inline;
padding: 5px;
margin-left: 120px; 
list-style-type: none;
}

.navbar ul li a {
color: black;
text-align: center;
font-size: 1.5em;
background-color: #50608F;
color: #69969C;
padding: 5px;
border-radius: 5px;
}

ul li a:hover {
background-color: #69969C;
color: #50608F;
}

.social {
position: relative;
left: 480px;
bottom: 10px;
margin-left: 40px;
}

.tableContainer {
display: table;
border-spacing: 10px;
}

.table-row {
display: table-row;
}

.footer {
background-color:#69969C;
border-radius: 10px;
height: 100%;
margin: 5px;
}

.footer h3 {
vertical-align: middle;
text-align: center;
padding: 10px;
}

#form {
background-color: #69969C;
height: 100%;
margin: 5px; 
margin-top: 50px;
margin-left: 500px;
border-radius: 10px;
width: 300px;
padding: 15px;
}


/*======== Home Page ========*/

#homeMain {
display: table-cell;
background-color: #69969C;
height: 500px;
width: 70%;
margin: 0px;
border-radius: 10px;
text-align: center;
vertical-align: top;
}

#homeMain p {
text-align: left;
padding-left: 55px;
}


#bloginsert {
display: table-cell;
background-color: #69969C;
height: 250px;
width: 400px;
border-radius: 10px;
text-align: center;
vertical-align: top;
}

#projectinsert {
display: table-cell;
background-color: #69969C;
height: 250px;
width: 400px;
border-radius: 10px;
text-align: center;
vertical-align: top;
}

.blogpost h2 {
text-align: center;
}

a {
font-size: 1.5em;
}

/*======== Blog ========*/

.blogpost {
background-color: #69969C;
border-radius: 10px;
vertical-align: top;
width: 100%;
height: 100%;
padding: 5px;
margin-top: 10px;
}

.blogpost p {
width: 95%;
padding-left: 25px;
}

/*======== Projects ========*/


/*======== Resume ========*/

.resume {
background-color: #69969C;
height: 600px;
border-radius: 10px;
height: 100%;
vertical-align: top;
width: 100%;
}

.resume h2 {
text-align: center;
font-size: 1.5em;
}

.resume h3 {
margin-left: 50px;
}



/*======== Photography ========*/

#photo-about {
background-color:  #69969C;
height: 100%;
border-radius: 10px;
text-align: center;
vertical-align: top;
width: 100%;
margin: 5px;
}

#photo-about p {
padding-left: 50px;
padding-bottom: 10px;
}

.photo {
display: table-cell;
width: 433px; 
}


