//@import "{{ site.theme }}";

nav a {
color: #F87000;
font-size: 1.5em;
}

nav a:hover {
background-color: #F87000;
color: #FFC042;
}

.link {
text-decoration: underline;
    :hover {
            color: #fc4503;
    }
}


