//@import "{{ site.theme }}";

nav a {
    display: flex;
    //color: #267CB9;
    font-size: 1.5em;
    flex-direction: column;
    :hover {
        //background-color: #F87000;
        color: #F87000;
    }   
}

.link {
    text-decoration: underline;
    :hover {
            color: #fc4503;
    }
}

ul {
    padding-inline-start: 0px;
    li {
       list-style-type: none;
    }
}

